html {
    display: table;
    margin: auto;
}

body {
    background-color: lightyellow;
    vertical-align: middle;
    height: 100%;
}

#button {
    background-color: lightsalmon;
    color: black;
    margin: 30%;
    width: 200px;
    height: 100px;
}

h1 {
    color: lightsalmon;
    margin: 30%;
}

h2 {
    color: lightsalmon;
    margin: auto;
}

#image {
    margin: 21%;
    border-radius: 15%;
}

#link {
    size: 5px;
    margin: 20%;
}